body {
    background-image: url(/hw11/img/cali.jpg);
}


.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: 200px auto;
    background-color: rgb(20, 128, 92);
    border-radius: 5px;
    padding: 50px 0px;
}

.one {
    width: 50%;
    margin: 50px;
    padding: 20px;
    background-color: lightgray;
}

.two {
    margin: 50px;
    background-color: ivory;
    padding: 20px;
    width: 50%;

}


.head {
    font-size: 24px;
    color: #4691A4;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.mid {
    font-size: 26px;
    line-height: 27px;
    color: #4691A4;
    text-transform: lowercase;
    text-indent: 20px;
}

.two .contact {
    max-width: 500px;
    display: inline-block;
}

.two .contact input,
.two .contact textarea {
    font-family: sans-serif;
    font-size: 16px;
    color: #4691A4;
    width: 70%;
    padding: 10px 20px;
    margin-bottom: 10px;
    outline: none;
    background-color: rgba(15, 15, 15, 0.199);
    border: 0.3px solid rgb(0, 0, 0);
}

.contact-input {
    resize: none;
}

.two .contact input[type="submit"] {
    padding: auto;
    width: 364px;
    font-family: sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: 4691A4;
    background-color: rgb(211, 211, 211);
    border: 0.3px solid black;
    cursor: pointer;
}